<h2>GoogleVisualr - Gauge</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    A map of a continent, region, or country with colors and values assigned to specific areas. The chart is rendered within the browser using Flash.
  </p>
  <p>
   Values are displayed as a color scale, and you can specify optional hover text for areas.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/visualization/documentation/gallery/gauge.html" %> for details on <em>Data Format</em> and <em>Configuration Options</em>. However, <em>Methods</em> and <em>Events</em> are not implemented.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <p>
    We have two examples - the first uses the regions display style, while the second uses the markers display style.
  </p>
  <h4>Regions Example</h4>
  <p>
    The regions style fills entire areas (typically countries) with colors corresponding to the assigned values.
  </p>
  <p>
    Specify the regions style by assigning <span class='cem'><em>options['dataMode'] = 'regions'</em></span> in your code.
  </p>
  <div id='chart_regions'></div>
  <%= @chart_regions.render('chart_regions') %>
  </br>
  <h4>Markers Example</h4>
  <p>
    The markers style displays a circle, sized and colored to indicate a value, over the areas that you specify.
  </p>
  <p>
    Specify the regions style by assigning <span class='cem'><em>options['dataMode'] = 'markers'</em></span> in your code.
  </p>
  <div id='chart_markers'></div>
  <%= @chart_markers.render('chart_markers') %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create your chart object, and add column headers and row values, then set any configuration options.
    </p>
    <script src="http://gist.github.com/424765.js?file=example_controller.rb"></script>
  </div>
  <div>
    <p>
      In your view, use the <em>chart.render(div_id)</em> method to generate JavaScript, as seen <%= link_to "here", "http://code.google.com/apis/visualization/documentation/gallery/gauge.html#Example" %>, during rendering of the view.
    </p>
    <script src="http://gist.github.com/424765.js?file=geomap.html.erb"></script>
  </div>
</div>