<!--
  Start
-->
<div class='append-bottom'>
  <h2>DataTable API Reference</h2>
  <p>
    This page explains the <em>GoogleVisualr::DataTable</em> class, constructor, and methods.
  </p>
  <p>
    A <em>GoogleVisualr::DataTable</em> object, as its name suggests, is a 2D mutable table of values that is used to generate Google charts.
  </p>
</div>

<!--
  Constructors
-->
<%= render :partial => 'constructor' %>

<!--
  Example
-->
<%= render :partial => 'example' %>

<!--
  Methods
-->
<%= render :partial => 'methods' %>