<h2>GoogleVisualr - Annotated Time Line</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    An interactive time series line chart with optional annotations. The chart is rendered within the browser using Flash.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/chart/interactive/docs/gallery/annotatedtimeline.html" %> for details on <em>Data Format</em> and <em>Configuration Options</em>. However, <em>Methods</em> and <em>Events</em> are not implemented.
  </p>
  <p>
    Important: Please specify the height and width of the div element explicitly.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <!-- Specify the size of the Container element explicitly! -->
  <div id='chart' style='width: 700px; height: 240px;'></div>
  <%= raw @chart.to_js('chart') %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create your chart object, and add column headers and row values, then set any configuration options.
    </p>
    <script src="https://gist.github.com/1057942.js?file=controller.rb"></script>
  </div>
  <div>
    <p>
      In your view, use the <em>chart.render(div_id)</em> method to generate JavaScript, as seen <%= link_to "here", "http://code.google.com/apis/chart/interactive/docs/gallery/annotatedtimeline.html#Example" %>, during rendering of the view.
    </p>
    <script src="https://gist.github.com/1057942.js?file=view.html.erb"></script>
  </div>
</div>