<h2>GoogleVisualr - Geo Map</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    A map of a continent, region, or country with colors and values assigned to specific areas. The chart is rendered within the browser using Flash.
  </p>
  <p>
   Values are displayed as a color scale, and you can specify optional hover text for areas.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/chart/interactive/docs/gallery/geomap.html" %> for details on <em>Data Format</em> and <em>Configuration Options</em>. However, <em>Methods</em> and <em>Events</em> are not implemented.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <p>
    We have two examples - the first uses the regions display style, while the second uses the markers display style.
  </p>
  <h4>Regions Example</h4>
  <p>
    The regions style fills entire areas (typically countries) with colors corresponding to the assigned values.
  </p>
  <p>
    Specify the regions style by assigning <span class='cem'><em>options['dataMode'] = 'regions'</em></span> in your code.
  </p>
  <div id='chart_regions'></div>
  <%= raw @chart_regions.to_js('chart_regions') %>
  <br/>
  <h4>Markers Example</h4>
  <p>
    The markers style displays a circle, sized and colored to indicate a value, over the areas that you specify.
  </p>
  <p>
    Specify the regions style by assigning <span class='cem'><em>options['dataMode'] = 'markers'</em></span> in your code.
  </p>
  <div id='chart_markers'></div>
  <%= raw @chart_markers.to_js('chart_markers') %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create the data_table object, set new columns, add row values, then instantiate the chart with configuration options.
    </p>
    <script src="https://gist.github.com/1063481.js?file=controller.rb"></script>
  </div>
  <div>
    <p>
      In your view, use the <em>to_js</em> method to generate <%= link_to "JavaScript", "http://code.google.com/apis/chart/interactive/docs/gallery/geomap.html#Example" %>, during rendering of the view.
    </p>
    <script src="https://gist.github.com/1063481.js?file=view.html.erb"></script>
  </div>
</div>