<h2>GoogleVisualr - Image Spark Line</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    A single or multiple spark lines that are rendered with images using the Google Charts API. The images are contained in a HTML table.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/visualization/documentation/gallery/imagesparkline.html" %> for details on <em>Data Format</em> and <em>Configuration Options</em>. However, <em>Methods</em> and <em>Events</em> are not implemented.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <div id='chart'></div>
  <%= raw @chart.to_js('chart') %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create your chart object, and add column headers and row values, then set any configuration options.
    </p>
    <script src="http://gist.github.com/355372.js?file=example_controller.rb"></script>
  </div>
  <div>
    <p>
      In your view, use the <em>chart.render(div_id)</em> method to generate JavaScript, as seen <%= link_to "here", "http://code.google.com/apis/visualization/documentation/gallery/image_spark_line.html#Example" %>, during rendering of the view.
    </p>
    <script src="http://gist.github.com/355372.js?file=image_spark_line.html.erb"></script>
  </div>
</div>